@tailwind base;
@tailwind components;
@tailwind utilities;

.header {
  display: flex;
  justify-content: space-between;
  background-color: aliceblue;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  padding: 0.5em;
}

.header h1 {
  margin-right: 1em;
}